@mixin rounded($size){
        -webkit-border-radius: $size;
        -o-border-radius: $size;
        border-radius: $size;
} 

@mixin shadow($list){
        -webkit-box-shadow: $list;
        -o-box-shadow: $list;
        box-shadow: $list;
} 

html, body{
	width: 100%;
	height: 100%;
}

body{
	background: #F8F3E1;;
	header{
		text-align: center;
		.objective{
			width: 70%;
			position: relative;
			left: 15%;
		}
		.explanation{
			margin-left: 20%;
			margin-right: 20%;
		}
	}
	.form{
		position: relative;
		width: 25%;
		left: 39%;
		text-align: center;
	}
}