<header>
<h1>DigitalNatives Test</h1>
<h2>Objetive:</h2>
<p class="objective">This test consists on 2 web forms where you can type a number, and then it will appear completely in translated to words.</p>
<p class="explanation">You have 2 choices to get the result, on the first form you can choose the language in which you want the result to be given. On the second one, i will only tell you the result in english using the algorithm i developed, you can see on the application controller the algorithm and also the usage of a pretty simple API from ruby that solves the first form input...</p>
</header>
<section class="form">
	<div class="result">
		<h4>Here you will see the result!</h4>
	</div>
	<form action="/result" method="POST">
		<h5>First Method</h5>
		<div class="languagediv">
			<p>Select a language</p>
			<select name="language" id="language">
				<option value="1">Español</option>
				<option value="2">English</option>
				<option value="3">Hungarian</option>
				<option value="4">French</option>
				<option value="5">German</option>
			</select>
		</div>
		<br>
		<div class="field">
			<input type="text" name="first" class="input first">
		</div>
	</form>
</section>
<section class="form">
	<form action="/result" method="POST">
		<h5>Second Method</h5>
		<div class="field">
			<input type="text" class="input second">
		</div>
	</form>
</section>
